---
import Layout from '../layouts/Layout.astro'
import Container from '../components/Container.astro'
---

<Layout frontmatter={{ title: 'Not found' }}>
  <Container>
    <div>
      This page was not found, we periodically rebuild the site to get updates.
      Please contact us if you are not finding a page you expected to find.
    </div>
  </Container>
</Layout>
