@layer theme, base, components, utilities;
@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@layer base {
  [data-theme='light'] {
    --b1: Canvas;
    --bc: CanvasText;
  }

  [data-theme='dark'] {
    --b1: Canvas;
    --bc: CanvasText;
  }
}

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
