@layer theme, base, components, utilities;
@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  [data-theme='light'] {
    --b1: Canvas;
    --bc: CanvasText;
  }

  [data-theme='dark'] {
    --b1: Canvas;
    --bc: CanvasText;
  }
}
