.nav {
  background-color: #0d223f;
  color: #ffffff;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left {
  display: flex;
  align-items: center;
}
.logoLink {
  margin-right: 1rem;
}
.logo {
  display: inline;
  margin-right: 0.5rem;
}
.logoText {
  font-weight: 600;
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  font-size: 16px;
}
.logoText:hover {
  color: #25c2a0;
}
.navLink {
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 16px;
}
.navLink:hover {
  color: #25c2a0;
}
.right {
  display: flex;
  align-items: center;
  --tw-space-x-reverse: 0;
  margin-right: calc(1rem * var(--tw-space-x-reverse));
  margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
}
.socialLink {
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.socialLink:hover {
  color: #25c2a0;
}
.icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 15px;
}
