.h1 {
  font-size: 2.25rem;
  font-weight: 400;
  margin-bottom: 1rem;
  margin-top: 3rem;
}

.h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
}

.h3 {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.h4 {
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 0.25rem;
}

.p {
  margin-bottom: 1rem;
}

.italic {
  font-style: italic;
}

.dt {
  font-weight: 700;
  disply: inline;
}

.dd {
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

.dl {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
