---
import Layout from '../../layouts/Layout.astro';
import Container from '../../components/Container.astro';
import StyledLink from '../../components/ui/StyledLink.astro';
import H1 from '../../components/ui/H1.astro';
import P from '../../components/ui/P.astro';
const list = (await Astro.glob('../../src/data/ucsc/list.json'))[0].default;

import '../../components/table.css';
---

<Layout>
  <Container>
    <H1>Main genome browsers</H1>
    <div>
      <P>
        This page contains a list of all the &quot;main&quot; genomes from the
        UCSC genome browser, converted into a format that JBrowse 2 can load
      </P>
      <P>
        <StyledLink href="https://jbrowse.org/code/jb2/frozen_tracks4/?config=/ucsc/all.json">
          Click here
        </StyledLink>{" "}
        for single JBrowse 2 instance containing ALL the species
      </P>
    </div>
    <UCSCTable client:load list={list} />
  </Container>
</Layout>
