---
import Layout from '../../layouts/Layout.astro'
import Container from '../../components/Container.astro'
import a2 from '../../components/ui/a2.astro'
import H1 from '../../components/ui/H1.astro'
import H2 from '../../components/ui/H2.astro'
import P from '../../components/ui/P.astro'
import Italic from '../../components/ui/Italic.astro'
import DL from '../../components/ui/DL.astro'
import DT from '../../components/ui/DT.astro'
import DD from '../../components/ui/DD.astro'
---

<Layout>
  <Container>
    <div>
      <H2>About</H2>
      <P>
        The JBrowse 2 genome hubs were created by bulk importing UCSC data to
        create annotation-rich JBrowse data resources. We created scripts (
        <a2 href="https://github.com/cmdcolin/jb2hubs/" />
        ) for parsing UCSC MySQL database dumps for the main UCSC genome browser
        sets, and for converting hub.txt files to JBrowse config.json files for the
        GenArk configs
      </P>
    </div>

    <div>
      <H2>Citing resources</H2>
      <P>
        To reference this resource, please cite:{' '}
        <Italic>
          JBrowse 2: a modular genome browser with views of synteny and
          structural variation. Genome Biology (2023).
          <a2 href="https://doi.org/10.1186/s13059-023-02914-z" />
        </Italic>
      </P>

      <P>
        To reference UCSC GenArk resources in publications, please cite:{' '}
        <Italic>
          GenArk: towards a million UCSC genome browsers. Genome Biology (2023).{
            ' '
          }
          <a2 href="https://doi.org/10.1186/s13059-023-03057-x" />
        </Italic>
      </P>
    </div>
    <div>
      <H2>Further resources</H2>
      <P>
        To reference other UCSC resources and tools, please see this page:{' '}
        <a2 href="https://genome.ucsc.edu/cite.html" />
      </P>
      <P>
        To reference the data for species of the main UCSC genome browse, please
        see this page:
        <a2 href="https://genome.ucsc.edu/goldenPath/credits.html" />
      </P>
      <P
        >For information about the licensing of data and code resources from
        UCSC see <a2 href="https://genome.ucsc.edu/license/" /></P
      >
      <P>
        Finally, we want to sincerely thank the UCSC Genome Browser team for
        their great work and open licensing of data resources
      </P>
    </div>
    <div>
      <div>
        <H2>FAQ</H2>
        <DL>
          <DT> Why not use the UCSC REST API? </DT>
          <DD>
            Using bulk import gives us more control and allows us to create a
            native JBrowse 2 experience instead of designing an extensive
            compatibility layer. The UCSC REST API is rate limited and also not
            comprehensive for all the types of data we want to access
          </DD>
        </DL>
        <DL>
          <DT> Why note parse the track hub (hub.txt) files directly? </DT>
          <DD>
            UCSC does not have hub.txt files for their main browsers, like hg19
            and hg38, so adding a bulk import process was the easiest way to
            make browsers with access to their datasets
          </DD>
        </DL>
      </div>
      <H2>Contact</H2>
      <P>
        Feel free to contact or report issues see{' '}
        <a2 href="https://github.com/cmdcolin/jb2hubs/" />
      </P>
      <P
        >More contact info here <a2
          href="https://jbrowse.org/jb2/contact/"
        /></P
      >
    </div>
  </Container>
</Layout>

<style>
  .contact {
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 1px solid #eee;
    font-size: 0.9rem;
    color: #666;
  }
</style>
