---
import Layout from '../../layouts/Layout.astro'
import Container from '../../components/Container.astro'
import SelfLink from '../../components/SelfLink'
---

<Layout>
  <Container>
    <div>
      <h2>About</h2>
      <p>
        The JBrowse 2 genome hubs were created by bulk importing UCSC data to
        create annotation-rich JBrowse data resources. We created scripts for
        parsing UCSC MySQL database dumps for the main UCSC genome browser sets,
        and for converting hub.txt files to JBrowse config.json files for the
        GenArk configs
      </p>
    </div>

    <div>
      <h2>Citing resources</h2>
      <p>
        If you use these resources in your publication, please consider citing:
      </p>
      <ul>
        <li>
          JBrowse 2: a modular genome browser with views of synteny and
          structural variation. Genome Biology (2023).
          <SelfLink href="https://doi.org/10.1186/s13059-023-02914-z" />
        </li>

        <li>
          GenArk: towards a million UCSC genome browsers. Genome Biology (2023). <SelfLink
            href="https://doi.org/10.1186/s13059-023-03057-x"
          />
        </li>
      </ul>
    </div>
    <div>
      <h2>Further resources</h2>
      <ul>
        <li>
          Further citations for UCSC resources:{' '}
          <SelfLink href="https://genome.ucsc.edu/cite.html" />
        </li>
        <li>
          Credits for individual UCSC species:
          <SelfLink href="https://genome.ucsc.edu/goldenpath/credits.html" />
        </li>
        <li>
          License of UCSC data and resources: <SelfLink
            href="https://genome.ucsc.edu/license/"
          />
        </li>
      </ul>
    </div>

    <div>
      <div>
        <h2>FAQ</h2>
        <dl>
          <dt>Why not use the UCSC REST API?</dt>
          <dd>
            Using bulk import gives us more control and allows us to create a
            native JBrowse 2 experience instead of designing an extensive
            compatibility layer. The UCSC REST API is rate limited and also not
            comprehensive for all the types of data we want to access
          </dd>
        </dl>
        <dl>
          <dt>Why not parse the track hub (hub.txt) files directly?</dt>
          <dd>
            UCSC does not have hub.txt files for their main browsers, like hg19
            and hg38, so adding a bulk import process was the easiest way to
            make browsers with access to their datasets
          </dd>
        </dl>
        <dl>
          <dt>Are there any restrictions for using this database?</dt><dd>
            All data is freely available for commercial and non-commercial use,
            except for liftOver files, which are for non-commericial use (see
            terms at <SelfLink href="https://genome.ucsc.edu/license/" ) />
          </dd>
        </dl>
      </div>
      <div>
        <h2>Thanks!</h2>
        <p>
          We want to sincerely thank the UCSC Genome Browser team for their
          great work and open licensing of data resources
        </p>
      </div>
      <h2>Contact</h2>
      <p>
        Feel free to contact or report issues, the main github repo for this
        project is here{' '}
        <SelfLink href="https://github.com/cmdcolin/jb2hubs/" />
      </p>
      <p>
        More contact info here <SelfLink
          href="https://jbrowse.org/jb2/contact/"
        />
      </p>
    </div>
  </Container>
</Layout>
