---
const { className, ...props } = Astro.props;
---
<h4 class={`h4 ${className}`} {...props}>
  <slot />
</h4>

<style>
.h4 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
</style>
