@import '@fontsource/roboto/400.css'; /* Weight 400 */
@import '@fontsource/roboto/700.css'; /* Weight 700 */

html,
:host {
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
