---
import Breadcrumbs from './Breadcrumbs.astro'

const { className } = Astro.props
---

<div class="container">
  <div class={`content ${className}`}>
    <Breadcrumbs />
    <slot />
  </div>
</div>

<style>
  .container {
    padding: 1rem;
  }

  .content {
    max-width: 100%; /* Default for mobile */
    margin: 0 auto;
  }

  @media (min-width: 768px) { /* Adjust breakpoint as needed */
    .content {
      max-width: 90%;
    }
  }
</style>
