---
import GenArkMainTable from './GenArkMainTable.astro';
import GenArkProjectTable from './GenArkProjectTable.astro';
import H3 from './ui/H3.astro';

import './table.css';
---

<div>
  <H3>Species categories: </H3>
  <GenArkMainTable />

  <H3>Project collections</H3>
  <GenArkProjectTable />
</div>
