---
import GenArkMainTable from './GenArkMainTable.astro'
import GenArkProjectTable from './GenArkProjectTable.astro'
---

<div>
  <h3>Species categories:</h3>
  <GenArkMainTable />

  <h3>Project collections</h3>
  <GenArkProjectTable />
</div>
